# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\娱乐\python\myproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
